<form action="/weather" method="POST">
  <input required="true" id="address-input" type="text" name="address"></input><span id="address-info" title="Begin by typing your address">ⓘ</span>
  <div id="autocomplete-address">
  </div>
</form>
