<form action="/weather" method="POST">
  <input required="true" id="address-input" type="text" name="address" placeholder="Find weather for your address.."></input>
  <div id="autocomplete-address">
  </div>
</form>
