<%= content_for :head do %>
  <link href="https://js.radar.com/v4.4.2/radar.css" rel="stylesheet">
  <script src="https://js.radar.com/v4.4.2/radar.min.js"></script>
<% end %>
<div class="container">
  <%= render 'form' %>
</div>
