// Sassy

body {
  background-color: #224345;
  font-family: sans-serif;
}

.container {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.address {
  line-height: 1.6;
  font-size: 20px;
  padding: 0 10px;
  margin: 10px;
  display: inline-block;
  background-color: #1c3839;
  border-radius: 5px;
  color: #babcbc;
  text-shadow: 1px 1px 1px #000;
}

.back {
  font-size: 20px;
  color: #babcbc;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
}

#address-input {
  padding-left: 15px;
  line-height: 1.6;
  font-size: 30px;
  background-color: #1c3839;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #babcbc;
  text-shadow: 1px 1px 1px #000;
  width: 65%;
  border: none;
  padding-right: 0;
}


#address-input:focus {
  outline: #0f0f0f;
  outline-color: #0f0f0f;
}

#address-input::placeholder {
  color: #5b6968;
}

#autocomplete-address {
  text-align: left;
  margin-top: 20px;
  margin: auto;
  color: #babcbc;
  width: fit-content;
  line-height: 1.7;
}

#autocomplete-address div {
  border-bottom: 1px solid #1C3839;
}

#autocomplete-address a {
  color: #dedede;
}

.current-temp {
  font-size: 20px;
  color: #dedede;
}

.condition-icon {
  vertical-align: bottom;
}
