// Sassy

body {
  background-color: #224345;
  font-family: sans-serif;
}

.container {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.well,
.address {
  line-height: 1.6;
  font-size: 24px;
  padding: 0 10px;
  margin: 10px;
  display: inline-block;
  background-color: #1c3839;
  border-radius: 5px;
  color: #babcbc;
  text-shadow: 1px 1px 1px #000;
}

.back {
  font-size: 20px;
  color: #babcbc;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
}

#address-input {
  padding-left: 15px;
  line-height: 1.6;
  font-size: 30px;
  background-color: #1c3839;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #babcbc;
  text-shadow: 1px 1px 1px #000;
  width: 65%;
  border: none;
  padding-right: 0;
}


#address-input:focus {
  outline: #0f0f0f;
  outline-color: #0f0f0f;
}

#address-input::placeholder {
  color: #5b6968;
}

#autocomplete-address {
  text-align: left;
  margin-top: 20px;
  margin: auto;
  color: #babcbc;
  width: fit-content;
  line-height: 1.7;
}

#autocomplete-address div {
  border-bottom: 1px solid #1C3839;
}

#autocomplete-address a {
  color: #dedede;
  text-decoration: none;
  line-height: 2;
  font-size: 20px;
}

.current-temp {
  font-size: 20px;
  color: #dedede;
}

.condition-icon {
  vertical-align: bottom;
}

#logo-icon {
  text-align: center;
}

#logo-icon img {
  width: 150px;
  mix-blend-mode: multiply;
}

#logo-icon img:hover {
  mix-blend-mode: difference;
  filter: drop-shadow(0px 0px 5px black);
}

#address-info {

  font-size: 25px;
  padding-left: 10px;
  color: #d8d3cd;
  text-shadow: 0px 1px 1px black;
}

#cached-indicator {
  position: absolute;
  top: -10px;
  right: 7px;
}

#cached-indicator span {
  color: #152627;
  font-size: 31px;
  text-shadow: none;
}
